.stepper-num {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 100px;
  flex-shrink: 0;
}

.stepper-num div {
  text-align: center;
  height: 100%;
  font-size: 16px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.stepper-text {
  margin-left: 8px;
}

.stepper {
  margin-top: 16px;
}

.description-action {
  margin-top: 8px;
}
.description-action .Button:nth-child(2n) {
  margin-left: 24px;
}
