.d-col {
    display: flex;
    flex-direction: column;
}

.d-row,
.d-flex {
    display: flex !important;
}
.spacer-1 {
    width: 8px;
}

.fill-width {
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.custom-header--shown {
    visibility: visible !important;
    opacity: 1 !important;
    transition: visibility 1s, opacity 0.3s linear;
}

.custom-header {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.3s linear;
}

.my-1 {
    margin: 8px 0;
}

.Switch--ios .Switch__pseudo {
    border: 2px solid rgba(140, 140, 140, 0.2);
}

.chips > * {
    margin-top: 8px;
    margin-right: 8px;
}

.chips {
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0;
    width: 100%;
    max-width: 400px;
}

.Snackbar {
    z-index: 100000 !important;
}

.chip {
    width: fit-content;
    border-radius: 10px;
    padding: 6px 12px;
    cursor: pointer;
    color: #888f97;

    background-color: #f2f3f5;
}
.chip__text {
    font-size: 15px !important;
}
.chip--active {
    color: #5e81f4;
    background-color: #eef2fd;
}

.about-textarea {
    height: 120px
}

.Button,
a,
button,
.clickable {
    cursor: pointer;
}

body[scheme='space_gray'] .chip {
    background-color: #46474b;
    color: #b5b8c0;
}

body[scheme='space_gray'] .chip--active {
    background-color: #373c52;
    color: #97b9e0;
}
