.d-col {
    display: flex;
    flex-direction: column;
}

.d-row,
.d-flex {
    display: flex !important;
}
.spacer-1 {
    width: 8px;
}

.fill-width {
    width: 100%;
}

.align-center {
    align-items: center;
}

.justify-space-evenly {
    justify-content: space-evenly;
}

.justify-center {
    justify-content: center;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.custom-header--shown {
    visibility: visible !important;
    opacity: 1 !important;
    transition: visibility 1s, opacity 0.3s linear;
}

.custom-header {
    visibility: hidden;
    opacity: 0;
    transition: visibility 1s, opacity 0.3s linear;
}

.my-1 {
    margin: 8px 0;
}

.Switch--ios .Switch__pseudo {
    border: 2px solid rgba(140, 140, 140, 0.2);
}
